.maintenance-body { text-align: center; padding: 150px 40px; }
.hinweis-body h1 { font-size: 46px; color: saddlebrown}
article {
  display: block; text-align: center; display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  padding: 20px;
}
.weiter{
  text-align: center;
  padding: 15px;
  color: white;
  cursor: pointer;
}
