._SitThW {
    color: #ffffff;
    position: relative;
}
._SitThW ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
._desktop ._SitThW p {
    padding-right: 8.1em
}
#functionen {
    background: #1ab7ea;
}
#functionen h1 {
    color: white;
}
#functionen._desktop ._SitThW p, #functionen._tablet ._SitThW p {
    margin: 0;
    padding: 1.1em 3.05em;
    font-size: 20px;
}
#functionen._mobile ._SitThW p {
    margin: 0;
    padding: 1em 2.9em;
}
.xs_width{
  width: 100%;
  padding: 10px;
  font-size: 1em !important;
  box-sizing: border-box;
}

.checkIcon {
    display: flex;
    margin-left: 25px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    color: #1ab7ea;
    position: absolute;
    right: 0;
}

#functionen._mobile .checkIcon {
    display: flex;
    margin-left: 25px;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    color: #1ab7ea;
}
