._SitThW {
    color: #283664;
    position: relative;
    border-bottom: solid 1px;
}
._SitThW ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
._desktop ._SitThW p {
    padding-right: 8.1em
}
._SitThW p {
    margin: 0;
    padding: 1.1em 1.1em;
}
.functionen-mobile ._SitThW p {
  padding: 1.1em 1.25em;

}
.xs_width{
  width: 100%;
  padding: 10px;
  font-size: 1em !important;
  box-sizing: border-box;
}

.checkIcon {
    display: flex;
    margin-left: 25px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #25D366;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    right: 0;
}
.functionen-mobile .checkIcon {
    display: flex;
    margin-left: 25px;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    color: #25D366;
}
