
/* ----------------- Input styles ----------------- */

.react-form-input {
  border-color: #7b7b7b;
  border-width: 1px;
}

.react-form-input-error {
  border-color: gray;
  border-width: 2px;
}

.react-form-input-warning {
  border-color: #ad611c;
  border-width: 2px;
}

.react-form-input-success {

}

/* ----------------- Message styles ----------------- */

.react-form-message {
  margin-bottom: 1rem;
  display: block;
}

.react-form-message-error {
  color: gray;
}

.react-form-message-warning {
  color: #ad611c;
}

.react-form-message-success {
  color: #25D366;
}
