<section style={{display:'block'}}>
<div class="container has-3-columns">
		<h2 class="heading-2">Get your music</h2>

		<ul class="angebote fixe-size head clearfix">


					<li class="offers-item free">
						<p class="type">FREE</p>
						Your current offer						<p class="offers-link">
							<span class="hidden-tablet">
															</span>
							<span class="visible-tablet">
															</span>
						</p>
						<div class="link-more visible-phone"> <!-- dropdown -->
							<button class="btn-link"> <!-- dropdown-toggle -->
								<span style="display: inline-block">
									<span class="label">See benefits</span>
									<span class="icon icon-after icon-chevron-down"></span>
								</span>
								<span style="display: none">
									<span class="label">Hide benefits</span>
									<span class="icon icon-after icon-chevron-up"></span>
								</span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<span class="icon icon-desktop icon-feature"></span>
									<span class="title">
										Unlimited music on computer &amp; tablet									</span>
								</li>
							</ul>
						</div>
					</li>


					<li class="offers-item premiumplus">

													<div class="special-offer">
								<div class="content">
									<p>
										LIMITED OFFER									</p>
								</div>
							</div>

						<p class="type">PREMIUM+</p>

															<p class="price standard">9,99 €</p>

								<p class="legal">
									per month - no commitments											<br>
											30 days FREE*								</p>


						<div class="offers-link hidden-tablet hidden-phone">
							        <button class="btn btn-primary" data-offer_id="1" data-origin="offer_comparative_top_pplus" style="" onclick="loadPayment($(this)); return false;">
            <span class="label">Start your 30 day trial</span>
        </button>

						</div>
						<div class="offers-link visible-tablet visible-phone">
							        <button class="btn btn-primary" data-offer_id="1" data-origin="offer_comparative_top_pplus" style="" onclick="loadPayment($(this)); return false;">
            <span class="label">Start your 30 day trial</span>
        </button>
						</div>
						<div class="link-more visible-phone"> <!-- dropdown -->
							<button class="btn-link"> <!-- dropdown toggle-->
								<span style="display: inline-block">
									<span class="label">See benefits</span>
									<span class="icon icon-after icon-chevron-down"></span>
								</span>
								<span style="display: none">
									<span class="label">Hide benefits</span>
									<span class="icon icon-after icon-chevron-up"></span>
								</span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<span class="icon icon-desktop icon-feature"></span>
									<span class="title">Unlimited music on computer &amp; tablet</span>
								</li>
								<li>
									<span class="icon icon-phone icon-feature"></span>
									<span class="title">Unlimited music on phone</span>
								</li>
								<li>
									<span class="icon icon-unavailable icon-feature"></span>
									<span class="title">No ads</span>
								</li>
								<li>
									<span class="icon icon-download icon-feature"></span>
									<span class="title">Music accessible offline</span>
								</li>
																	<li>
										<span class="icon icon-equalizer icon-feature"></span>
										<span class="title">Sound quality</span>
									</li>
																</ul>
						</div>
					</li>


					<li class="offers-item family">

						<p class="type">Deezer Family</p>

													<p class="price standard">14,99 €</p>

							<p class="legal">
								per month<br>
								Up to 6 Premium+ profiles**							</p>

												<div class="offers-link hidden-tablet hidden-phone">
							        <button class="btn btn-primary" data-offer_id="100001" data-origin="offer_comparative_top_family" style="" onclick="loadPayment($(this)); return false;">
            <span class="label">Sign up</span>
        </button>
						</div>
						<div class="offers-link visible-tablet visible-phone">
							        <button class="btn btn-primary" data-offer_id="100001" data-origin="offer_comparative_top_family" style="" onclick="loadPayment($(this)); return false;">
            <span class="label">Sign up</span>
        </button>
						</div>

						<div class="link-more visible-phone"> <!-- dropdown -->
							<button class="btn-link"> <!-- dropdown toggle-->
								<span style="display: inline-block">
									<span class="label">See benefits</span>
									<span class="icon icon-after icon-chevron-down"></span>
								</span>
								<span style="display: none">
									<span class="label">Hide benefits</span>
									<span class="icon icon-after icon-chevron-up"></span>
								</span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<span class="icon icon-desktop icon-feature"></span>
									<span class="title">Unlimited music on computer &amp; tablet</span>
								</li>
								<li>
									<span class="icon icon-phone icon-feature"></span>
									<span class="title">Unlimited music on phone</span>
								</li>
								<li>
									<span class="icon icon-unavailable icon-feature"></span>
									<span class="title">No ads</span>
								</li>
								<li>
									<span class="icon icon-download icon-feature"></span>
									<span class="title">Music accessible offline</span>
								</li>
								<li>
									<span class="icon icon-equalizer icon-feature"></span>
									<span class="title">High Quality</span>
								</li>
								<li>
									<span class="icon icon-family icon-feature"></span>
									<span class="title">6 Premium+ Profiles</span>
								</li>
								<li>
									<span class="icon icon-thumb-up icon-feature"></span>
									<span class="title">Kids-only profiles</span>
								</li>
							</ul>
						</div>
					</li>


		</ul>

		<div class="hidden-phone">
			<ul class="offers-table desktop-tablet">
				<li><span class="icon icon-desktop icon-feature"></span></li>
				<li class="title">Unlimited music on computer &amp; tablet</li>
				<li>
					<ul class="angebote clearfix">
														<li class="offers-item fixe-size"><span class="icon icon-check free"></span></li>
																<li class="offers-item fixe-size"><span class="icon icon-check color-premiumplus"></span></li>
																<li class="offers-item fixe-size"><span class="icon icon-check color-family"></span></li>
													</ul>
				</li>
			</ul>
			<ul class="offers-table phone">
				<li><span class="icon icon-phone icon-feature"></span></li>
				<li class="title">Unlimited music on phone</li>
				<li>
					<ul class="angebote clearfix">
														<li class="offers-item fixe-size free">Flow &amp; mixes only</li>
																<li class="offers-item fixe-size"><span class="icon icon-check color-premiumplus"></span></li>
																<li class="offers-item fixe-size"><span class="icon icon-check color-family"></span></li>
													</ul>
				</li>
			</ul>
			<ul class="offers-table ads">
				<li><span class="icon icon-unavailable icon-feature"></span></li>
				<li class="title">No ads</li>
				<li>
					<ul class="angebote clearfix">
														<li class="offers-item fixe-size">&nbsp;</li>
																<li class="offers-item fixe-size"><span class="icon icon-check color-premiumplus"></span></li>
																<li class="offers-item fixe-size"><span class="icon icon-check color-family"></span></li>
													</ul>
				</li>
			</ul>
			<ul class="offers-table offline">
				<li><span class="icon icon-download icon-feature"></span></li>
				<li class="title">Music accessible offline</li>
				<li>
					<ul class="angebote clearfix">
														<li class="offers-item fixe-size">&nbsp;</li>
																<li class="offers-item fixe-size"><span class="icon icon-check color-premiumplus"></span></li>
																<li class="offers-item fixe-size"><span class="icon icon-check color-family"></span></li>
													</ul>
				</li>
			</ul>
			<ul class="offers-table hq">
				<li><span class="icon icon-equalizer icon-feature"></span></li>
				<li class="title">
					Sound quality				</li>
				<li>
					<ul class="angebote clearfix">
														<li class="offers-item fixe-size free">Standard</li>
																<li class="offers-item fixe-size color-premiumplus">
									High Quality								</li>
																<li class="offers-item fixe-size color-family">
									High Quality								</li>
													</ul>
				</li>
			</ul>
						<ul class="offers-table hq">
				<li><span class="icon icon-family icon-feature"></span></li>
				<li class="title">
					6 Premium+ Profiles				</li>
				<li>
					<ul class="angebote clearfix">
														<li class="offers-item fixe-size free">&nbsp;</li>
															<li class="offers-item fixe-size color-premiumplus">&nbsp;</li>
															<li class="offers-item fixe-size color-family">
									<span class="icon icon-check"></span>
								</li>
												</ul>
				</li>
			</ul>
			<ul class="offers-table hq">
				<li><span class="icon icon-thumb-up icon-feature"></span></li>
				<li class="title">
					Kids-only profiles				</li>
				<li>
					<ul class="angebote clearfix">
														<li class="offers-item fixe-size free">&nbsp;</li>
															<li class="offers-item fixe-size color-premiumplus">&nbsp;</li>
															<li class="offers-item fixe-size color-family">
									<span class="icon icon-check"></span>
								</li>
												</ul>
				</li>
			</ul>
						<ul class="angebote foot clearfix">
										<li class="offers-item free">
													</li>
												<li class="offers-item premiumplus">
							        <button class="btn btn-primary btn-offers" data-offer_id="1" data-origin="offer_comparative_bottom_pplus" style="" onclick="loadPayment($(this)); return false;">
            <span class="label">Start your 30 day trial</span>
        </button>
						</li>
												<li class="offers-item family">
							        <button class="btn btn-primary btn-offers" data-offer_id="100001" data-origin="offer_comparative_bottom_family" style="" onclick="loadPayment($(this)); return false;">
            <span class="label">Sign up</span>
        </button>
						</li>
									</ul>
		</div>

		<div class="legal-notice">
			*			 Deezer Premium+, 30 days free: cannot be combined with any other offer. Valid one time only for 30 days.
This offer is non-binding. You may cancel your subscription at any time. </div>
<div class="legal-notice">
		 **Deezer Family is available for up to 6 members of the same household residing at the same address. 6 Deezer Profiles for 14,99 €/month. If you are a Premium+ subscriber and choose to upgrade to Deezer Family, you will immediately be charged 14,99 €. Your Deezer Family offer will start immediately and your Premium+ subscription will be cancelled. Any payment already made during the month of the switch from Premium+ to Deezer Family is non-refundable.
This offer is non-binding. You may cancel your subscription at any time. </div>

	</div>
</section>
