section{
  background-color: white;
  display: flex;
}

section._desktop::before {
    content: "";
    height: 65px;
    width: 100%;
}
section._mobile::before {
    content: "";
    height: 50px;
    width: 100%;
}
#section-5::before {
    background: white;
}

.App-intro {
  font-size: large;
}

.spy {
  margin-top:50px;
  text-align:left;
  box-shadow: 2px 1 4px #000;
  transition: 0.65s ease-in-out;
}
.spy.close {
  display: none;
}
.spy a{
  display: block;
}

.about-wrapper {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 80px 0px;
    display: flex;
}
.left, .right{
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.img-mobile{
  width: auto;
  height: 32vh;
}

#form1 {
    flex-direction: column;
    display: flex;
}

#form1 label{
  text-align: left;
  margin: 10px 10px 10px 0;
  font-size: 11px;
}
#form1 input, #form1 button{
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}
#form1 button{
  color: white;
  background-color: #f57d00;
}
.footer h3{
  color: white;
}
.footer ul{
  margin: 0;
  list-style-type:none;
}
.footer ul li{
  color: gray;
  cursor: pointer;
}

.footer ul li:hover{
  color: white;
}
