[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit blob:https://developer.android.com/2b35004f-3c95-4dcb-9aaf-ddae20108bdc
Type=Link
URL=blob:https://developer.android.com/2b35004f-3c95-4dcb-9aaf-ddae20108bdc
Icon=text-html
