[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit blob:https://developer.android.com/0d3bd2b6-2131-4af0-970a-263eb20ac83e
Type=Link
URL=blob:https://developer.android.com/0d3bd2b6-2131-4af0-970a-263eb20ac83e
Icon=text-html
